@charset "UTF-8";

.page {
  --transition-duration: 0.25s;
  height: max-content;
  color: var(--main-text-color);
  background: var(--background-image) no-repeat top center,
    var(--background-color);
  background-size: cover;
  background-attachment: fixed;
  transition-duration: var(--transition-duration);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  max-height: 100vh;
  padding: 0 10px;
}

@media (width >=768px) {
  .header {
    padding: 0 20px;
  }
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--rec-color);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;

}

@media (width >=768px) {
  .header__rec {
    top: 21px;
    right: 49px;
  }
}

.header__rec::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 42.5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--rec-color);
  background-color: var(--rec-color);
}

.header__theme-menu {
  display: grid;
  grid-template-rows: 2.5fr 1fr;
  justify-items: end;
  align-items: end;
}

@media (width >=768px) {
  .header__theme-menu {
    grid-template-rows: 1.62fr 1fr;
  }
}

@media (width >=1024px) {
  .header__theme-menu {
    grid-template-rows: 1fr 6.5fr;
  }
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

@media (width >=1024px) {
  .header__theme-menu-list {
    display: flex;
    justify-self: center;
    gap: 12px;
    align-self: flex-end;
  }
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--menu-color);
  border-left: 1px solid var(--menu-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--menu-color);
  border-right: 1px solid var(--menu-color);
}

@media (width >=768px) {
  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }
}

.title-decor {
  background: var(--title-decor);
}

.header__theme-menu-button {
  border: transparent;
  padding: 0 12.5px 1px;
  color: var(--menu-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  background-color: transparent;
  transition-duration: var(--transition-duration);
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: var(--hover-color);
}

.header__theme-menu-button:focus {
  border: none;
  outline: none;  
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--menu-color);
}

.header__theme-menu-button_active {
  border: 1px solid;
  pointer-events: none;
}

.header_main_title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 96px;
  text-shadow: 4px 4px 0 var(--title-shadow);
}

@media (width >=768px) {
  .header_main_title {
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.container__p-main {
  display: grid;
  grid-template-rows: 22fr 1fr;
  align-items: center;
}

@media (width >=768px) {
  .container__p-main {
    grid-template-rows: 1fr 0.65fr;
  }
}

@media (width >=1024px) {
  .container__p-main {
    grid-template-rows: 1fr 0.674fr
  }
}

.header__subtitle {
  display: grid;
  justify-self: center;
  width: 100%;
  color: var(--article-title-color);
  font-weight: 700;
  line-height: 23.4px;
}

@media (width >=768px) {
  .header__subtitle {
    justify-self: end;
    align-self: flex-end;
    width: 50%;
  }
}

.main {
  display: grid;
  gap: 50px;
  margin-block-start: 40px;
  padding: 0 10px;
}

@media (width >=768px) {
  .main {
    gap: 81px;
    margin-block-start: 60px;
    padding: 0 20px;
  }
}

.section-why,
.section-causes,
.section-advices {
  display: grid;
  gap: 21px;
}

@media (width >=1024px) {

  .section-why,
  .section-advices {
    gap: 10px;
  }
}

@media (width >=768px) {

  .section-why,
  .section-advices {
    grid-template-columns: 1fr 2fr;
  }
}

.section__article-list {
  display: grid;
  gap: 20px;
}

@media (width >=1024px) {
  .section-causes .section__article-list {
    grid: auto-flow / 1fr 1fr 1fr;
  }
}

.section__title {
  color: var(--section-title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.dedicated-title {
  color: var(--article-title-color);
}

@media (width >=768px) {
  .section-causes .section__title {
    width: 30%;
  }
}

.section__article-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (width >=1024px) {
  .section-causes .section__article-item {
    width: 315px;
  }
}

.section__article-title,
.section__article-list-title {
  color: var(--article-title-color);
  font-weight: 700;
  font-size: 18px;
}

.title-decor {
  background: var(--title-decor);
}

.section__article-text {
  line-height: 23.4px;
}

.section__article-text-link {
  border: transparent;
  text-decoration: none;
  text-shadow: 2px 1px 0px var(--link-shadow);
  transition-duration: var(--transition-duration);
}

.section__article-text-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.section__article-text-link:focus {
  outline: none;
}

.section__article-text-link:focus-visible {
  border: 1px solid var(--main-text-color);
}

.section__article-title_regular {
  font-weight: 400;
}

.section_full-image {
  display: grid;
  gap: 10px;
}

.section_full-image .section__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

@media (width >=768px) {
  .section_full-image {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 19px;
  }

  .section_full-image .section__title {
    grid-column: 1/-1;
    width: 100%;
    margin: 0;
  }

  .section_full-image .section__image:first-of-type,
  .section_full-image .section__image:last-of-type {
    grid-column: span 2;
  }

  .section_full-image .section__image:nth-of-type(2),
  .section_full-image .section__image:nth-of-type(3) {
    grid-row: span 2;
  }

  .section_full-image .section__image {
    height: 100%;
  }
}

.footer {
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  min-height: 668px;
  max-height: 100vh;
  margin-top: 5.956vh;
}

@media (width >=768px) and (width < 1024px) {
  .footer {
    margin-top: 5.8vh;
  }
}

@media (width >=1024px) {
  .footer {
    margin-top: 7.5vh;
  }
}

.footer__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px 0px var(--title-shadow);
}

@media (width >=768px) {
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}